body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

h1,
h2,
h3,
p,
footer {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

.navegacao {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.navegacao a {
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
}

.conteudo {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.texto {
  background-color: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;
}

.detalhe {
  width: 60px;
  height: 4px;
  background: #ee2211;
  position: absolute;
  top: 30px;
  right: -30px;
}

.botao {
  background-color: #ee2211;
  color: #fff;
  padding: 15px 30px;
  text-transform: uppercase;
  border-radius: 4px;
}

.beneficios {
  padding: 40px;
  background-color: #fff;
}

.beneficios-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.beneficios-item p {
  grid-column: 2;
}

.vantagens {
  color: #c6c6c6;
  font-size: 64px;
  padding: 40px;
  text-transform: uppercase;
  text-align: right;
  align-self: center;
}

.rodape {
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
}
