body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  margin: 0px;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

h1,
h2,
h3,
p,
footer {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.navegacao {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.navegacao a {
  display: block;
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  padding: 16px 28.4px;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  transition: 0.2s;
}

.navegacao a:hover {
  border: 2px solid #ee2211;
}

.conteudo {
  max-width: 62.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.conteudo2 {
  max-width: 62.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.texto {
  background-color: #fff;
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;
  grid-column: 1;
}

.texto h1 {
  font-size: 2rem;
}

.cover img {
  grid-column: 2;
}

.texto::before {
  content: "";
  position: absolute;
  width: 3.75rem;
  height: 0.25rem;
  background: #ee2211;
  top: 1.9rem;
  right: -1.9rem;
}

.botao {
  background-color: #ee2211;
  color: #fff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  transition: 0.2s;
}

.botao:hover {
  background-color: #900;
}

.beneficios {
  background-color: #fff;
  padding: 2.5rem;
}

.beneficios-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.beneficios-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.62rem 1.25rem;
  padding: 1.25rem;
  border-left: 4px solid transparent;
}

.beneficios-item:hover {
  border-left: 4px solid #ee2211;
}

.beneficios-item p {
  grid-column: 2;
}

.vantagens {
  background-color: #f7f7f7;
  color: rgb(0, 0, 0, 0.2);
  background-image: url("./img/onda.svg");
  font-size: 4rem;
  padding: 2.5rem;
  text-transform: uppercase;
  text-align: right;
  align-self: center;
}

.rodape {
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 2.5rem;
  box-sizing: border-box;
}

.bicicleta {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  body {
    gap: 3rem;
    justify-items: center;
    margin-top: 3rem;
  }

  .header {
    gap: 30px;
  }

  .texto h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.3;
  }

  .vantagens {
    font-size: 3.5rem;
  }
}

@media (max-width: 850px) {
  .texto h1 {
    font-size: 1.5rem;
  }

  .vantagens {
    text-align: center;
    font-size: 3rem;
  }

  .beneficios {
    grid-column: 1/-1;
  }

  .vantagens {
    grid-column: 1/-1;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.3;
  }
}

@media (max-width: 700px) {
  .conteudo {
    grid-template-columns: 1fr;
  }

  .texto {
    grid-column: 1/-1;
    text-align: left;
    justify-items: start;
  }

  .cover img {
    height: 300px;
    width: 100%;
  }
  .texto::before {
    display: none;
  }
}
