body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  margin: 0px;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

h1,
h2,
h3,
p,
footer {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

ul {
  list-style: none;
}

.logo {
  margin: auto;
  margin-bottom: 2.8rem;
}

.navegacao {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.navegacao a {
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  padding: 16px 28.4px;
  border-radius: 0.25rem;
}

.navegacao a:hover {
  border: 2px solid #ee2211;
  padding: 14px 26.4px;
}

.conteudo {
  max-width: 62.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.texto {
  background-color: #fff;
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;
}

.detalhe {
  width: 3.75rem;
  height: 0.25rem;
  background: #ee2211;
  position: absolute;
  top: 1.9rem;
  right: -1.9rem;
}

.botao {
  background-color: #ee2211;
  color: #fff;
  padding: 1rem 1.9rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
}

.botao:hover {
  background-color: #900;
}

.beneficios {
  padding: 2.5rem;
  background-color: #fff;
}

.beneficios-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.62rem 1.25rem;
  padding: 1.25rem;
}

.beneficios-item p {
  grid-column: 2;
}

.vantagens {
  color: #c6c6c6;
  font-size: 4rem;
  padding: 2.5rem;
  text-transform: uppercase;
  text-align: right;
  align-self: center;
}

.rodape {
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 2.5rem;
  box-sizing: border-box;
}
